.button {
     padding: 12px;
     font-size: 16px;
     background-color: #2563eb;
     width: 100%;
     border-radius: 12px;
     border: none;
     color: #fff;
     text-transform: uppercase;
     &:hover {
         cursor: pointer;
         transition: 250ms;
         opacity: 0.8;
     }
 }